<form action="" method="get" class="form-example">
  <div class="form-example">
    <label for="name">Enter your recipe's name: </label>
    <input type="text" name="name" id="name" required>
  </div>
  <div class="form-example">
    <label for="description">Enter your recipe's description: </label>
    <input type="text" name="description" id="description" required>
  </div>
  <div class="form-example">
    <label for="prep_time">Enter your recipe's preparation time: </label>
    <input type="text" name="prep_time" id="prep_time" required>
  </div>
  <div class="form-example">
    <label for="difficulty">Enter your recipe's difficulty: </label>
    <input type="text" name="difficulty" id="difficulty" required>
  </div>
  <a class="form-example">
    <input type="submit" value="Add recipe">
  </div>
</form>

<a href="/">Go back to home page</a>

